.counter {
  display: flex;
  width: 100%;
  height: 300px;
  background: rgb(226, 211, 122);
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
}
.title {
  font-size: 50px;
  line-height: 45px;
  letter-spacing: 2px;
  color: #070707;
}
div {
  font-size: 50px;
  line-height: 45px;
  letter-spacing: 8px;
  color: #070707;
}
input {
  width: 250px;
  height: 49px;
  background: #00a4e5;
  font-size: 18spx;
  line-height: 18px;
  color: #ffffff;
  border: rgb(70, 4, 17), 2px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}
.daw {
  border: 2px solid #000;
  width: 100%;
  height: 300px;
  background-color: rgba(185, 243, 223, 0.792);
  justify-content: center;
  text-align: center;
}
.text {
  width: 100%;
  height: 300px;
  background-color: rgba(236, 149, 220, 0.792);
  justify-content: center;
  text-align: center;
}
